link( rel="import", href="/bower_components/polymer/polymer.html" )
link( rel="import", href="/bower_components/paper-checkbox/paper-checkbox.html" )
link( rel="import", href="/bower_components/paper-item/paper-item.html" )
link( rel="import", href="/elements/checkmate-tasks" )

dom-module#checkmate-tasks-view
  template
    checkmate-tasks( tasks="{{ tasks }}" )
    template( is="dom-repeat", items="{{ tasks }}" )
      paper-item( role="menuitemcheckbox" )
        paper-checkbox( checked="{{ item.is_checked::change }}", on-change="change_status" )
        paper-item-body {{ item.content }}
  script.
    Polymer({
      is: 'checkmate-tasks-view',
      change_status: function ( task ) {
        console.log( task )
      }
    })
