link( rel="import", href="/bower_components/polymer/polymer.html" )
link( rel="import", href="/bower_components/iron-ajax/iron-ajax.html" )

dom-module#checkmate-tasks
  template
    iron-ajax( url="/api/", handle-as="json", auto, on-response="tasks_loaded" )
  script.
    Polymer({
      is: 'checkmate-tasks',
      properties: {
        tasks: {
          type: Array,
          reflectToAttribute: true,
          notify: true
        }
      },
      attached: function () {
        this.tasks = []
      },
      tasks_loaded: function ( data ) {
        this.tasks = data.detail.response
        console.log( this.tasks )
      }
    })
