extends layout

block content
  h1 Tasks

  template( is="dom-bind" )
    checkmate-tasks-view

  input( type="text", name="task_content" )
  button#add_task( type="button" ) Add task
  script( src="/scripts/jquery.js" )
  script( src="/scripts/script.js" )
