doctype
html
  head
    title= ( title ? title + ' | ' : '' ) + 'checkmate'
    link( href='https://fonts.googleapis.com/css?family=Roboto:400,300,700,500,300italic,400italic,100,100italic,500italic,700italic,900,900italic&subset=latin,cyrillic-ext,cyrillic', rel='stylesheet', type='text/css')
    link( href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700italic,700,400italic,300italic&subset=latin,cyrillic-ext,cyrillic', rel='stylesheet', type='text/css' )
    script( src="/bower_components/webcomponentsjs/webcomponents-lite.min.js" )
    link( rel="import", href="/elements/checkmate-tasks-view" )
    link( rel='stylesheet', href='/styles/style.css' )
  body
    a.logo( href="/" )
      img( src="/images/logo.png" )
      span.check check
      | mate
    block content

