extends layout

block content
  h1= task.content
  #tasks
  paper-item( role="menuitemcheckbox" )
    paper-checkbox
    paper-item-body Clue
  input( type="text", name="task_content" )
  button#add_task( type="button" ) Add subtask
  script( src="/scripts/jquery.js" )
  script.
    var app_vars = app_vars || {}
    app_vars.parent_id = '#{ task._id }'
  script( src="/scripts/script.js" )
