body{font-family:'Roboto',sans-serif}.logo{font-size:45px;font-family:'Roboto Condensed',sans-serif;color:#808080;font-weight:100;text-decoration:none}.logo span.check{font-weight:800;color:#71c837}.logo img{vertical-align:middle;width:40px;margin-right:5px}